<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--Beyond styles-->
    <link id="beyond-link" href="assets/css/beyond.min.css" rel="stylesheet" />
    <link href="assets/css/demo.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="assets/js/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
	<div class="topcdnzhead">
		<div class="logosection">
			<img alt="Cadenga Logo" src="assets/img/logo-cadenga.png">
		</div>
	</div>
    <div class="login-container animated fadeInDown">

        <div class="loginbox">
            <form id="form3" method="post">
            <div class="loginbox-title">Sign in to your store</div>   

            <div class="extraspace">&nbsp;</div>
            
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="Email" id="email" />
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="Password" id="password"/>
            </div>

            <div class="loginbox-submit">
                <input type="submit" id="login" class="btn btn-primary btn-block" value="Sign in to your account">
            </div>
            </form>
            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>

            <div class="loginbox-forgot">
                <a href="">Forgot Password?</a>
            </div>
            
            <div class="loginbox-signup">
                <a href="/step2">Sign Up</a>
            </div>
        </div>
    </div>

    <!--Basic Scripts-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#login").click(function(e){
            e.preventDefault();
            var user= new Object();
            user.email=$('#email').val();
            user.password=$('#password').val();
            //console.log(user);
            $.ajax({
              type:'POST',
              url:'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8086/api/users/login',
              data:user,
              dataType: 'json',
              success:function(data){
                alert(data.status);
                console.log(data.status);
              },
              error:function(jqXHR, textStatus, errorThrown){
              alert('error: ' + textStatus + ': ' + errorThrown);
              console.log(errorThrown);
              }
            });
        });
      });
    
    </script>
    <!--Beyond Scripts-->
    <script src="assets/js/beyond.js"></script>

    
</body>
<!--Body Ends-->
</html>
